ul > li {
  display: inline-block;
}
li {
  margin: 0.4rem;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: silver;
}

a:hover {
  background-color: black;
  color: whitesmoke;
}